body {
    font-family: 'Open Sans', sans-serif;
    background-color: lightblue;
    background-image: url(Wiki-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.colorerror{
    text-align: center;
    background-color: rgb(156, 27, 27);
    color: white;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
}
nav>div>ul{
    display: flex;
    list-style-type: none;
    background-color:lightseagreen;
    border-style: groove;
}
nav>div>ul>li>a{
    color:white;
}
footer{
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    font-style: italic;
}
footer:hover{
    background-color: rgb(220, 255, 222);
    display: flex;
    justify-content: center;
    font-style: italic;
    color: purple;
}
#delBut{
    text-decoration: none;
    background-color: crimson;
    color: white;
    border-style: solid;
}
#editBut{
    text-decoration: none;
    background-color: rgba(146, 211, 41, 0.658);
    color: white;
    border-style: solid;
}
#subBut{
    display: flex;
    justify-content: flex-end;
}
#subBut>input{
    width:100px;
    background-color: darkgreen;
}
#subBut>input:hover{
    width:100px;
    background-color: cornsilk;
    color: darkgreen;
}
#accountList > ul {
    display: flex;
    color: sandybrown;
    list-style-type: none;
    justify-content: center;
    
}
    #accountList > ul > li {
        padding: 15px;
    }
    #accountList > ul > li > a {
        padding: 5px 15px;
        background-color: cadetblue;
        border-style: solid;
        text-decoration: none;
        color: sandybrown;
    }

#unauthorizedAccessMessage {
    color: darkgreen;
    background-color: sandybrown;
    margin: 30px;
}